<section class="hero">
  <div class="container">
    <div class="text-hero">
      <h1 class="hero-title">Olá, eu sou o</h1>
      <h1 class="hero-title-name">Eduardo Padilha 👋</h1>
      <p class="hero-description">Desenvolvedor Full Stack | C# | .Net | Angular | SQL</p>
      <div class="botoes-container">
        <app-button 
          text="Download CV" 
          actionType="download">
        </app-button>

        <app-button 
          text="Entrar em contato" 
          actionType="whatsapp">
        </app-button>
      </div>
    </div>
    <div class="image-hero">
      <img src="foto-de-perfil.svg" alt="Imagem do Eduardo Padilha" class="hero-image">
    </div>
  </div>
</section>
