.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  flex-wrap: wrap;
  }

.hero-title {
  color: white;
}

.hero-title-name {
  color: #865DE7;
}

.hero-description {
  color: #999083;
  margin-top: 20px;
  margin-bottom: 30px;
}

.botoes-container {
  display: flex;
  gap: 20px;
}

.hero-image {
  max-width: 400px;
  height: auto;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 20px;
  }

  .text-hero {
    width: 100%;
  }

  .botoes-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .image-hero {
    margin-top: 30px;
  }

  .hero-image {
    max-width: 250px; /* diminui a imagem */
    width: 100%;
    margin-left: 0; /* remove aquele espaço lateral */
  }
}
