<section class="about" id="sobre">
  <h2>Sobre Mim</h2>
  <div class="sobre-mim container">
    <div class="image-about">
      <img src="caricatura-eduardo.svg" alt="caricatura dudu" />
    </div>
    <div class="texto-sobre-mim">
      <h2>Desenvolvedor Full Stack</h2>
      <h3>C# | .Net | Angular | SQL</h3>
      <p>
        Tenho 20 anos, sou estudante da 7ª fase de Ciência da Computação na Unifacvest, em São
        Joaquim – SC, e sou apaixonado por tecnologia, sempre buscando evoluir como desenvolvedor e
        transformar ideias em soluções através da inovação.
      </p>
    </div>
  </div>
</section>
